    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Brand Column -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h5>OIKOS</h5>
                    <p>為每個家帶來溫暖與設計感。</p>
                    <div class="social-icons">
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-threads"></i></a> 
                    </div>
                </div>
                
                <!-- Links Column 1 -->
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <h6>關於我們</h6>
                    <ul class="list-unstyled">
                        <li><a href="/html/about_me.html">品牌故事</a></li>
                        <li><a href="/html/contact.html">聯絡資訊</a></li>
                        <li><a href="/html/careers.html">人才招募</a></li>
                    </ul>
                </div>
                
                <!-- Links Column 2 -->
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <h6>客戶服務</h6>
                    <ul class="list-unstyled">
                        <li><a href="/html/faq.html">常見問題</a></li>
                        <li><a href="/html/refund.html">退換貨政策</a></li>
                        <li><a href="/html/shipping.html">運送方式</a></li>
                    </ul>
                </div>
                
                <!-- Links Column 3 -->
                <div class="col-lg-3 col-md-4">
                    <h6>條款與政策</h6>
                    <ul class="list-unstyled">
                        <li><a href="/html/footer_tems.html">隱私權政策</a></li>
                        <li><a href="/html/footer_tems.html">服務條款</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Copyright -->
            <div class="copyright">
                © 2025 OIKOS. All Rights Reserved.
            </div>
        </div>
    </footer>

   